%turbo-stream{ action: "remove", target: dom_id(@snack) }

%turbo-stream{ action: "replace", target: "notice-container" }
  %template
    .alert.alert-success{ role: "alert" }
      = "Snack successfully deleted!"
