%p{style: "color: green"}= notice

- content_for :title, "Snacks"

%h1 Snacks

%div{id: "snacks"}
  - @snacks.each do |snack|
    = render snack
    %p
      = link_to "Show this snack", snack

= link_to "New snack", new_snack_path
