= turbo_frame_tag "modal" do
  .modal.fade.show.d-block{ tabindex: "-1", role: "dialog", style: "background-color: rgba(0,0,0,0.5);" }
    .modal-dialog
      .modal-content
        .modal-header
          %h5.modal-title Add Snack
          %button.btn-close{ type: "button", data: { action: "click->modal#close" } }
        .modal-body
          = render "form", snack: @snack