%turbo-stream{ action: "replace", target: dom_id(@snack) }
  %template
    .col-12.col-md-3.mb-4
      = render partial: "snacks/snack", formats: [:html], locals: { snack: @snack }

%turbo-stream{ action: "replace", target: "notice-container" }
  %template
    = render partial: "shared/notice", locals: { notice: "Snack successfully updated!" }, formats: [:html]

%turbo-stream{ action: "replace", target: "modal-body" }
  %template
